<?php
/* 
   @source: 
   Copyright (C) 2011 Tom Klein

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

if ($_SERVER['REMOTE_ADDR'] != "127.0.0.1") {
  $local = false;
  $link = mysql_connect('#####', '#####', '#####') or
    die('Could not connect: ' . mysql_error());
  mysql_select_db("#####", $link) or
    die("Couldn't connect to database: " . mysql_error());
  $image_path = "flora_images/";
  if ($log_ip_string) {
    date_default_timezone_set('America/Chicago');
    $date = date('y-m-d H:i:s');
    mysql_query('insert into visits set ip="' . 
                mysql_real_escape_string($_SERVER['REMOTE_ADDR']) .
                '",date="' . $date . '",browser="' . $log_ip_string . ': ' .
                mysql_real_escape_string($_SERVER['HTTP_USER_AGENT']) . '"',
                $link);
  }
}
else { // client is local
  $local = true;
  $link = mysql_connect('#####', '#####') or
    die('Could not connect: ' . mysql_error());
  mysql_select_db("#####", $link) or
    die("Couldn't connect to database: " . mysql_error());
  $image_path = "../pbc_flora/flora_images/";
}

?>